<%- include('partials/header') %> 

<div id="background">
  <div id="message">
      <h1>A SOCIAL NETWORK FOR COFFEE AFICIONADOS EVERYWHERE.</h1>
          <a href="#" class="btn btn-log btn-success">Login</a>
  </div>
</div>