<%- include("partials/header") %>

<div class="container">
    <div class="mb-3">
        <h1>About our company</h1>
        <p>We got glazed, chocolate iced, rasberry filled, chocolate iced glazed, glazed chocolate cake, powdered cake, and about three dozen other flavors to satisfy your sugar cravings!</p>
    </div>
</div>

<%- include("partials/footer") %>