<%- include("partials/header") %>

<div class="container">
    <div class="mb-3">
        <h1>Welcome to the Donut Shop!</h1>
        <p>We bake the hottest, freshest donuts that you can imagine. You want donuts? We got it.</p>
    </div>
</div>

<%- include("partials/footer") %>